$primary-color: #3498db; // Blue color
$secondary-color: #e74c3c; // Red color

$text-color: #000000; // Dark grey text color
$box-shadow-color: rgba(0, 0, 0, 0.1); // Light box shadow color

$dark-text-color: #000000; // Dark grey text color


  /* Apply global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    line-height: 1.5;
    background-color: white;
    color: $text-color;
    font-size: 16px;
    padding: 0 20px;
    padding-top: 0;
  }
  
  /* Add this media query to remove padding from the body element for screens smaller than 480px */
  @media only screen and (max-width: 480px) {
    body {
      padding: 0;
    }
  }
.main_blog {
    background-image: url('../images/x.jpg');
    color: $text-color;
    box-shadow: 0 0 20px $box-shadow-color;
}
.container_blog {
    width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

.heading {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    z-index: 6;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 20px #1accf8;
    overflow: hidden;
    background-image: linear-gradient(to right, #1c1c1c, #2f1822, #3f2f4f, #770c58, #e60000, #337b33, #e600e6, #d37e00, #e64d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
    }

    .heading::before,
    .heading::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        animation: gradientAnimation 2s infinite;
    }

    .heading::before {
        top: 0;
        left: -100%;
        animation-delay: 1s;
    }

    .heading::after {
        bottom: 0;
        right: -100%;
    }

    @keyframes gradientAnimation {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}
.main_h {
    font-size: 32px;
    margin: 0 auto 10px auto;
    font-family: sans-serif;
    background-image: linear-gradient(to right,
            #1c1c1c,
            #2f1822,
            #3f2f4f,
            #770c58,
            #e60000,
            #337b33,
            #e600e6,
            #d37e00,
            #e64d00
            );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // Add standard background-clip property
    background-clip: text;

    font-family: serif;
    /* If you want to change font-family, do it here */
}
.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-image: url('../images/x.jpg');
  
    .swiper-wrapper {
        display: flex;
  transition-property: transform;

    }

    .swiper-slide {
        width: 100%;
        box-sizing: border-box;
        background-color: #f5f5f5;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        /* Adjust for variable height content */
        transition: all 0.3s ease;
      

        img {
            width: 100%;
            /* Take full width of the .swiper-slide */
            height: 300px;
            /* Set a fixed height for the images in pixels */
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            transition: opacity 0.3s ease;
          
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 10px;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 50%;
        border: 1px solid white;
        opacity: 0.8;
      

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 1;
                    
        }
    }

    @media screen and (max-width: 768px) {
        .swiper-slide {
            img {
                height: 350px;
                width: 100%;
                /* Allow height to adjust for mobile screens */
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 20px;
            height: 20px;
            font-size: 14px;
            top: 60%;
        }
    }
}
.article_p {
    margin-top: 30px;
    left: 0;
    top: 0;
    margin-left: 200px;
    width: 1000px;
    padding: 20px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px $box-shadow-color;
    .Browser1{
        border-top: 2px solid rgb(0, 0, 0);
    }
    a {
        color: $primary-color;
        transition: color 0.3s ease;

        &:hover {
            color: darken($primary-color, 10%);
            text-decoration: none;
        }
    }

    h2,
    h3,
    strong {
      font-family: 'Playfair Display', serif;
      color: $dark-text-color;
    }

    .browserx{
        margin-left: 10px;
        height: 20px;
        width: 20px;
    }
    
    .scrollable-section_blog_1 ul li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        line-height: 1.5;
        margin-bottom: 10px;
  
    }

   @media screen and (max-width: 1100px) {
        width: 100%; // Adjust as needed for mobile
        margin-left: 0;
    }
}

/* Table styles */
.browsertable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-family: 'Roboto', sans-serif;
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    }

    tbody tr:hover {
        background-color: #e0f2f1;
    }

    @media screen and (max-width: 767px) {

        th,
        td {
            padding: 4px;
            /* Adjust the padding for smaller screens */
            font-size: 12px;
            /* Adjust the font size for smaller screens */
        }

        tbody tr:nth-child(even) {
            background-color: #f5f5f5;
            /* Adjust the background color for even rows on smaller screens */
        }

        tbody tr:hover {
            background-color: #d3e3f1;
            /* Adjust the background color for hovered rows on smaller screens */
        }
    }
}


  
  
  

  




/* Media query for smaller screens */

.scrollable-section_blog_1 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Make it responsive */
    max-width: 400px;
    /* Set the maximum width */
    border-radius: 5px;
    overflow-y: scroll;
    padding: 20px;
    margin: 20px auto;
    /* Adjust as needed */
    background-image: url('../images/x.jpg');
        border-bottom: 1px solid $text-color;
    
    margin: 0 auto;
    /* Center the section horizontally */
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    
    @media (min-width: 1100px) {
        display: none;
    }
}

@media (max-width: 767px) {
    .container_blog {
        padding: 10px 5%;
        margin: 0;
        /* Adjust padding for better mobile view */
    }
        .heading {
            font-size: 16px;
            padding: 10px;
        }

    .main_h {
    font-size: 24px;
        /* Adjust font size for better mobile view */
    }



    .article_p {
        width: 100%;
        /* Remove fixed width for better mobile view */
        margin-left: 0;
    }


}


.article-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
.article-card-rec {
    width: 22%;
    margin: 0 10px;
    border: 2px solid black;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
    @media (max-width: 768px) {
      width: 100%;
    }
    &:hover {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  
    }
    img {
      max-width: 100%;
      border-radius: 5px;
      height: auto;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
      font-weight: 600;
      text-align: center;
      font-family: 'Satisfy', cursive;
      background-image: linear-gradient(to right,
              #1c1c1c,
              #2f1822,
              #3f2f4f,
              #770c58,
              #e60000,
              #337b33,
              #e600e6,
              #d37e00,
              #e64d00
              );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    a {
    display: block;
    text-align: center;
      background-color: $primary-color;
      color: white;
      border-radius: 5px;
      padding: 8px 15px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: 'Satisfy', cursive;
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
  

