.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

/* Style for the image */
.image-container img {
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.3s ease-in-out;
    height: 30px;
    width: 30px;

}

/* Hover effect */
.image-container:hover img {
    transform: scale(1.1);   /* You can adjust the scale factor */
}
.linkamazon{
    color: black;
    &:hover{
        color: aqua;
    }
}
 .main_blog3 {
     border-bottom: #000 solid 2px;
   
    font-family: 'Times New Roman', Times, serif;
    .mainblog31{
        font-family: 'Times New Roman', Times, serif;
    }
    
    }
    .main_blog3:hover {
            color: rgb(255, 255, 255);
        }

.amazon-link {
    color: #3498db;
    /* Set link color */
    text-decoration: none;
    /* Remove underline */
    font-weight: bold;
    /* Make the link bold */
    transition: color 0.3s;
    /* Add a smooth color transition on hover */
}

.amazon-link:hover {
    color: #1e6bd8;
    /* Change color on hover */
}