.main_blog{
    background-color: rgb(252, 252, 252);
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.container_blog {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5%;
    .heading {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 20px;
        color: rgb(0, 0, 0);
        box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.5);
    }
}
.main_h {
    font-size: 32px;
    margin: 0 auto 10px auto;
    font-family: sans-serif;
    background-image: linear-gradient(to right,
                #1c1c1c,
                #2f1822,
                #3f2f4f,
                #770c58,
                #e60000,
                #337b33,
                #e600e6,
                #d37e00,
                #e64d00
            );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // Add standard background-clip property
    background-clip: text;

    font-family: serif;
    /* If you want to change font-family, do it here */
}
.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
        display: flex;
        transition-property: transform;
    }

    .swiper-slide {
        width: 100%;
        box-sizing: border-box;
        background-color: #f0f0f0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        /* Adjust for variable height content */

        img {
            width: 100%;
            /* Take full width of the .swiper-slide */
            height: 600px;
            /* Set a fixed height for the images in pixels */
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            transition: opacity 0.3s ease;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 10px;
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: #000;
        border: 1px solid #fff;
        border-radius: 50%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    @media screen and (max-width: 768px) {
        .swiper-slide {
            img {
                height: 350px;
                width: 100%;
                /* Allow height to adjust for mobile screens */
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 20px;
            height: 20px;
            font-size: 14px;
            top: 60%;
        }
    }
}
.article_p {
    margin-top: 30px;
    left: 0;
    top: 0;
    margin-left: 200px;
    width: 800px;
    padding: 20px; // Adjust as needed
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    .Browser1{
        border-top: 2px solid rgb(0, 0, 0);
    }
    a {
        color: #3498db;
        transition: color 0.3s ease;

        &:hover {
            color: #2980b9;
            text-decoration: none;
        }
    }

    h2 {
        font-family: 'Times New Roman', Times, serif;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
    }

    strong {
        font-family: 'Times New Roman', Times, serif;
    }
    .browserx{
        margin-left: 10px;
        height: 20px;
        width: 20px;
    }
    
    .scrollable-section_blog_1 ul li {
        font-family: Arial, Helvetica, sans-serif;
    }

   @media screen and (max-width: 1100px) {
        width: 100%; // Adjust as needed for mobile
        margin-left: 0;
    }
}

/* Table styles */
.browsertable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    }

    tbody tr:hover {
        background-color: #e0f2f1;
    }

    @media screen and (max-width: 767px) {

        th,
        td {
            padding: 12px;
            /* Adjust the padding for smaller screens */
            font-size: 12px;
            /* Adjust the font size for smaller screens */
        }

        tbody tr:nth-child(even) {
            background-color: #f5f5f5;
            /* Adjust the background color for even rows on smaller screens */
        }

        tbody tr:hover {
            background-color: #d3e3f1;
            /* Adjust the background color for hovered rows on smaller screens */
        }
    }
}



/* Apply global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* Use your preferred font */
}



/* Media query for smaller screens */

.scrollable-section_blog_1 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Make it responsive */
    max-width: 400px;
    /* Set the maximum width */
    padding: 20px;
    /* Adjust as needed */
    background-color: #fff;
    border-radius: 8px;
    
    margin: 0 auto;
    /* Center the section horizontally */
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    
    @media (min-width: 1100px) {
        display: none;
    }
}

@media (max-width: 767px) {
    .container_blog {
        padding: 10px 5%;
        margin: 0;
        /* Adjust padding for better mobile view */
    }
        .heading {
            font-size: 16px;
            padding: 10px;
        }

    .main_h {
    font-size: 24px;
        /* Adjust font size for better mobile view */
    }



    .article_p {
        width: 100%;
        /* Remove fixed width for better mobile view */
        margin-left: 0;
    }


}


.article-card-container {
    display: flex;
    flex-wrap: wrap;

    /* Adjust the gap between articles */
}

.article-card-rec {
    width: 22%;
        margin: 10px;
        border: 1px solid #ddd;
        padding: 15px;
        box-sizing: border-box;
        @media (max-width: 768px) {
                width: 100%; // Make article cards full width on smaller screens
            }
img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;

    }
         h3 {
             font-size: 1.2em;
             margin-bottom: 10px;
         }
                   a {
                       display: inline-block;
                       background-color: #333;
                       color: white;
                       padding: 8px 15px;
                       text-decoration: none;
                       border-radius: 5px;
                       transition: background-color 0.3s ease;
        
                       &:hover {
                           background-color: #555;
                       }
                   }
}


.recommended_1{
    h2{
        margin-top: 20px;
        border-top: #000 dotted 1px;
    }
    strong{
        font-family: 'Times New Roman', Times, serif;
        border-bottom: #000 solid 2px;
    }
}