.smartphone-card {
    display: flex;
    align-items: flex-start; // Align items at the start of the container (top)
  
    h2 {
      margin-right: 20px; // Add margin to separate heading from details
    }
  
    ul {
      // Styling for the list containing details
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px; // Adjust as needed
      }
  
      .amazon-link {
        // Styling for the Amazon link
        text-decoration: none;
        color: #007bff; // Set the color you want for the link
      }
    }
  
    img.amazon-image {
        width: 200px;
      height: auto;
    }
  }
  
  
.comparsionmobile {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    tr,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    }

    tbody tr:hover {
        background-color: #e0f2f1;
    }
 @media only screen and (max-width: 767px) {
th,
    td {
        padding: 4px;
        /* Adjust the padding for smaller screens */
        font-size: 12px;
        /* Adjust the font size for smaller screens */
    }

    tbody tr:nth-child(even) {
        background-color: #f5f5f5;
        /* Adjust the background color for even rows on smaller screens */
    }

    tbody tr:hover {
        background-color: #d3e3f1;
        /* Adjust the background color for hovered rows on smaller screens */
    }
}
 }
