.article_p {
    .setup1 {
        width: 600px;
        border: black solid 2px;
    }

    .setup2,
    .setup3 {
        width: 400px;
        height: inherit;
        border: black solid 2px;
    }

    @media only screen and (max-width: 768px) {

        .setup1,
        .setup2,
        .setup3 {
            width: 100%;
        }
    }
}

