


header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

article {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Responsive Design */

/* Mobile-first styles */
@media only screen and (min-width: 600px) {

    /* Tablet styles */
  

    main {
        padding: 30px;
    }
}

