.moving-dots-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  
    .dot {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 50%;
    }
  
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      overflow: hidden;
  
      .img-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
  
        h2,
        h3 {
          margin: 0;
        }
  
        p {
          margin: 20px 0;
          font-size: 18px;
        }
  
        a {
          color: white;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
  
          .fas {
            font-size: 24px;
            margin-left: 10px;
          }
        }
      }
  
      .imgsrc {
        width: 100%;
        height: auto;
      }
    }
  
    .img1 {
      animation: fade 10s infinite;
      z-index: 1;
    }
  
    .img2 {
      animation: slide-left 10s infinite;
      z-index: 2;
    }
  
    .img3 {
      animation: slide-right 10s infinite;
      z-index: 3;
    }
  
    .img4 {
      animation: slide-down 10s infinite;
      z-index: 4;
    }
  
    .img5 {
      animation: slide-up 10s infinite;
      z-index: 5;
    }
  
    .img6 {
      animation: fade 10s infinite;
      z-index: 6;
    }
  
    @keyframes fade {
      0%,
      100% {
        opacity: 0;
      }
  
      50% {
        opacity: 1;
      }
    }
  
    @keyframes slide-left {
      0% {
        transform: translateX(100%);
      }
  
      50% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(-100%);
      }
    }
  
    @keyframes slide-right {
      0% {
        transform: translateX(-100%);
      }
  
      50% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(100%);
      }
    }
  
    @keyframes slide-down {
      0% {
        transform: translateY(-100%);
      }
  
      50% {
        transform: translateY(0);
      }
  
      100% {
        transform: translateY(100%);
      }
    }
  
    @keyframes slide-up {
      0% {
        transform: translateY(100%);
      }
  
      50% {
        transform: translateY(0);
      }
  
      100% {
        transform:translateY(-100%);
      }
    }
  }
  
  /* Add media query for mobile and tablet devices */
  @media (max-width: 767px) {
    .moving-dots-container {
      height: 50vh;
    }
  
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .moving-dots-container {
      height: 70vh;
    }
  }