.movie-image {
    /* Add styles for the movie image */
    max-width: 70%; /* Ensure the image doesn't exceed its container */
    height: auto;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  .Dramamovies{
    li{
      text-align: justify;
    }
  }