.terms-and-conditions {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .boxtac {
        margin-top: 30px;
        left: 0;
        top: 0;
        margin-left: 0; // Adjust as needed for mobile
        width: 100%; // Full width on mobile
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2em;
        margin-bottom: 1em;
        color: #000000;
        border-bottom: 2px solid #ccc;
        padding-bottom: 0.5em;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 1em;
        color: #000000;
    }

    h4 {
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 1em;
        color: #000000;
    }

    section {
        margin-bottom: 2em;
    }

    a {
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;

        &.contacttac {
            text-decoration: none;
        }

        &:hover {
            color: #0056b3;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 10px;

        .boxtac {
        width: 100%;
                    /* Remove fixed width for better mobile view */
            
           
            margin-left: 0; // Adjust as needed for mobile
        }
    }
}